html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 1em;
}

h2 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 0.7em;
}

h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

table {
    width: 100%;
}

th {
    text-align: left;
}

table, tbody, th, td {
    padding: 0.5em;
}

tr:nth-child(even) {
    background-color: #efefef;
}

nav a {
    color: #000000;
    text-decoration: none;
}

p {
    margin-bottom: 0.8em;
    line-height: 1.2;
}

code {
  background-color: #eee;
  border-radius: 3px;
  font-family: courier, monospace;
  padding: 0 3px;
}

ul {
    margin-bottom: 1.2em;
    list-style: disc;
}

li {
    margin-left: 1em;
    margin-bottom: 0.5em;
}

#logomark {
    font-weight: 800;
}

#nav {
    background-color: #e0e0e0;
    width: 100%;
}

#content {
    max-width: 80%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

/* Tighten up spacing around items inside of a display div */
#disproot .flex-item {
    padding: 0.25em;
}

.background {
    background-color: #7e7e7e;
}

.bold {
    font-weight: 550;
}

.box {
    padding: 1em;
    border: 1px solid black;
    border-radius: 4px;
    width: auto;
    height: auto;
}

.button {
    margin: 0.25em;
    padding: 1em;
}

.blink {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.center {
    text-align: center;
}

.hidden {
    display: none;
}

.hud-container {
    background: black;
    padding: 2%;
    height: 100%;
}

.icon-row {
    font-size: xxx-large;
    justify-content: space-evenly;
    background-color: #222222bb;
}

.icon-row-small {
    font-size: large;
    justify-content: space-evenly;
}

.logbox {
  background: #eee;
  border-radius: 3px;
  padding: 1em;
  border: 1px solid black;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    padding: 1em;
}

.flex-max {
    flex-grow: 1;
}

.flex-less {
    flex-shrink: 3;
}

.foreground {
    background-color: #f9f9f9;
}

.field {
    margin: 1em;
}

.full-height {
    height: 100%;
}

.grid-center {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.center-container {
    margin-left: auto;
    margin-right: auto;
}

.quad-label {
    font-size: xxx-large;
    font-weight: 800;
    margin-bottom: 0.25em;
    text-align: center;
}

.field-red {
    background: #f4a2a2;
}

.field-blue {
    background: #9fb1d4;
}

.field-green {
    background: #8de98d;
}

.field-yellow {
    background: #f5f551;
}

.header {
    background: lightgrey;
}

.hud-icon-large {
    height: 1.5em;
    margin-bottom: 0.5em;
}

.hud-icon-small {
    height: 1em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}

.white-text {
    color: #eeeeee;
}

.status-ok {
    color: lightgreen;
}

.status-error {
    color: red;
}

.black-background {
    background: black;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-box {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.nav-header {
    font-weight: 475;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.25em;
}

.nav-container {
    display: inline-block;
    position: relative;
}

.nav-dropdown {
    display: none;
    position: absolute;
    background-color: #dddddd;
    border: 2px black solid;
}

.nav-container:hover .nav-dropdown {
    display: block;
}

.nav-item {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    min-width: 160px;
    transition: background-color 100ms linear;
}

.nav-item:hover {
    background-color: #eeeeee;
    transition: background-color 100ms linear;
}
