html, body {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 0.7em;
}

h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

table {
    padding: 0.5em;
}

#content {
    height: 100%;
    width: 100%;
}

.bold {
    font-weight: 550;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    padding: 1em;
}

.flex-max {
    flex-grow: 1;
}

.flex-less {
    flex-shrink: 3;
}

.center {
    text-align: center;
}

.grid-center {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.clock {
    font-size: 75vh;
}

.center-container {
    margin-left: auto;
    margin-right: auto;
}

.red {
    background: #f4a2a2;
}

.blue {
    background: #9fb1d4;
}

.green {
    background: #8de98d;
}

.yellow {
    background: #f5f551;
}

.header {
    background: lightgrey;
}
