html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 1em;
}

h2 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 0.7em;
}

h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

table {
    padding: 0.5em;
}

#content {
    height: 100%;
    width: 100%;
}

.bold {
    font-weight: 550;
}

.hud-container {
    background: black;
    padding: 5%;
    height: 100%;
}

.icon-row {
    font-size: xxx-large;
    justify-content: space-evenly;
    background-color: #222222bb;
}

.icon-row-small {
    font-size: large;
    justify-content: space-evenly;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    padding: 0.5em;
}

.flex-max {
    flex-grow: 1;
}

.flex-less {
    flex-shrink: 3;
}

.center {
    text-align: center;
}

.grid-center {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.center-container {
    margin-left: auto;
    margin-right: auto;
}

.quad-label {
    font-size: xxx-large;
    font-weight: 800;
    margin-bottom: 0.25em;
}

.field-red {
    background: #f4a2a2;
}

.field-blue {
    background: #9fb1d4;
}

.field-green {
    background: #8de98d;
}

.field-yellow {
    background: #f5f551;
}

.header {
    background: lightgrey;
}

.white-text {
    color: #eeeeee;
}

.status-ok {
    color: lightgreen;
}

.status-error {
    color: red;
}
